<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.letrack">

    <application
            android:name=".support.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".modules.payment.activity.PaymentHistoryActivity">
        </activity>
        <activity android:name=".modules.payment.activity.ViewPaymentActivity">
        </activity>
        <activity android:name=".modules.payment.activity.MakePaymentActivity">
        </activity>
        <activity android:name=".modules.labbors.activity.AddNewLaborActivity">
        </activity>
        <activity android:name=".modules.authenticate.activity.LoginActivity">
        </activity>
        <activity android:name=".modules.labbors.activity.LaborsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>